@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root {
  --backgroundColor: #1a1a1a;
  --forgroundColor: #212121;
  --accentColor: #2196f3;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}


body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
  color: rgb(213, 213, 213);
  font-size: 0.8em;
}

.App {
  width: 100%;
}

#root {
  width: 100%;

}



header {
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  top: 0;
  transition: 600ms;
  background-color: var(--forgroundColor);
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  position: sticky;

}

.header-scrolled {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  top: -75px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  width: 100%;
}

header h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
}

header ul {
  display: flex;
  width: 95%;
  max-width: 30em;
  justify-content: space-around;
}

header li {
  display: inline;
  text-decoration: none;
  font-size: 1.2em;
  filter: brightness(60%);
  transition: 400ms;
}

header li:hover {
  filter: brightness(100%);
}

header li.selected {
  filter: brightness(100%);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: calc(100vh - 19em);
  position: relative;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

main.portfolio {
  animation-delay: 500ms;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}


.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3em;
  gap: 3em;
  justify-content: space-between;
}

.work {
  position: relative;
  overflow: hidden;
  filter: brightness(60%);
  color: white;
  transition: 500ms;
  max-height: 32em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.569);
}

.work img {
  height: 100%;
  width: auto;
  margin: 0;
}

.work:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 1em;
  font-size: 2em;
}


footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 10em;
  background-color: var(--forgroundColor);
}

@media screen and (max-width: 1200px) {
  .work-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  body {
    font-size: 1em;
  }

  .work-container {
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 0;
  }

  .work {
    filter: brightness(90%);
  }

  .work:hover {
    filter: brightness(100%);
  }

  main {
    margin: 1em 0;
    width: 100%;
  }

  header {
    padding: 1.2em 0;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    gap: 1em;
  }


  .contact form {
    padding: 5em 0;
  }

  header h1 {
    font-size: 1.8em
  }

  header ul {
    font-size: 0.8em;
  }

  
.header-scrolled {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  top: -50px;
}


}